<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damian.projektgrupowy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_laucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.PhoneActivity"
            android:screenOrientation="portrait" />
        <!--<activity android:name=".MainActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <uses-library android:name="com.google.android.maps"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDcIiHNMiWxXPBTYjjpUt52hWwEoE7mHbM" />
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/common_google_signin_btn_icon_dark" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

    <service android:name=".MyFirebaseMessagingService">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
    </service>
    <service android:name=".FirebaseIDService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
    </service>


    <!--<meta-data android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version"/>-->
    <!--<meta-data android:name="com.google.android.maps.v2.API_KEY"-->
        <!--android:value="AIzaSyB6UI1kNBof_m2_Olj6a2N3045O9XqjIB8"/>-->
    <!--&lt;!&ndash;<meta-data&ndash;&gt;-->
        <!--&lt;!&ndash;android:name="com.google.android.gms.version"&ndash;&gt;-->
        <!--&lt;!&ndash;android:value="@integer/google_play_services_version" />&ndash;&gt;-->
    <!--&lt;!&ndash;<meta-data&ndash;&gt;-->
        <!--&lt;!&ndash;android:name="com.google.android.maps.v2.API_KEY"&ndash;&gt;-->
        <!--&lt;!&ndash;android:value="AIzaSyB6UI1kNBof_m2_Olj6a2N3045O9XqjIB8" />&ndash;&gt;-->
    <!--&lt;!&ndash;<meta-data&ndash;&gt;-->
        <!--&lt;!&ndash;android:name="com.google.android.geo.API_KEY"&ndash;&gt;-->
        <!--&lt;!&ndash;android:value="AIzaSyB6UI1kNBof_m2_Olj6a2N3045O9XqjIB8" />&ndash;&gt;-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>